
<% content_for :cattitle do %> 


 BAZA LINKÓW
<% end %>

<% content_for :catdes do %> 
DO STRON ZWIĄZANYCH Z JĘZYKIEM HISZPAŃSKIM
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<h1>Nowy link</h1>

<%= render 'form' %>

<%= link_to 'Powrót', links_path %>
