
 
      <tr>
       


         <td><%=word.polish %></td>
         <td><%= word.spanish %></td>
         <td><%= word.description %></td>   
    <!--      <td><%= word.vocabulary_id %></td> -->
       


      </tr>

