<% content_for :cattitle do %> 
	GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
	JĘZYKA HISZPAŃSKIEGO
<% end %>

<h1>Edytuj zagadnienie</h1>

<%= render 'form' %>

<%= link_to 'Wyświetl', @theory %> |
<%= link_to 'Powrót', theories_path %>

