<% content_for :cattitle do %> 


GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
JĘZYKA HISZPAŃSKIEGO
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>



<h1>Edytuj zagadnienie</h1>

<%= render 'form' %>

<%= link_to 'Show', @theory %> |
<%= link_to 'Back', theories_path %>
