<% content_for :cattitle do %> 
	GRAMATYKA 
<% end %>

<% content_for :catdes do %> 
	JĘZYKA HISZPAŃSKIEGO
<% end %>


<h1>Nowe zagadnienie</h1>

<%= render 'form' %>

<%= link_to 'Powrót', theories_path %>
