<% content_for :cattitle do %> 
 	SŁOWNICTWO
<% end %>

<% content_for :catdes do %> 
	BAZA HISZPAŃSKICH SŁÓWEK
<% end %>


<h1>Dodaj nowy zestaw słówek</h1>

<%= render 'form' %>

<%= link_to 'Powrót', vocabularies_path %>
