<% content_for :cattitle do %> 
 SŁOWNICTWO
<% end %>

<% content_for :catdes do %> 
BAZA HISZPAŃSKICH SŁÓWEK
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<h1>Dodaj nowy zestaw słówek</h1>

<%= render 'form' %>

<%= link_to 'Back', vocabularies_path %>
