
<% content_for :cattitle do %> 

ĆWICZENIA
<% end %>

<% content_for :catdes do %> 
QUIZY ZE SŁOWNICTWA I GRAMATYKI
<!-- Linki do stron i materiałów związanych z nauką jezyka hiszpańskiego.-->
<% end %>


<h2>Edytuj quiz</h2>
<%= render 'form' %>