/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$screen-md-min: 970px;
$grid-float-breakpoint: $screen-md-min;


@import url(http://fonts.googleapis.com/css?family=Allura&subset=latin,latin-ext);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.alert {

  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4D363E;
  color: white;

  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* pagination */



.pagination > li > a, .pagination > li > span {
  color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #FFB600;
  border-color: #ddd ;
}


/* links */

#links > tbody > tr> td {
  padding: 30px;
}

#links > a:hover {
  color: none;
}

.box {
  text-align: center;
}

#add {
  font-size: 22px;

}

/* header */

header {
  height:160px;
  margin-bottom:5px;
  background-image: image-url("1.jpg");
  background-size: cover;  
}

.welcome {
  text-align: center;
}

.cattitle {
  font-size: 40px;
  max-width: 50%;

}
.catdes {
  font-size: 20px;
  max-width: 50%;
}

/* content */

.thumbimage {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 0px;
}

.shorttext {
  padding-top: 0px;
}

.tinyimage {
  margin: 10px;
}

.main-image {
  float: left;
  margin: 10px;
  margin-right: 20px;
}

 img {
  margin: 10px;
}

/* navigation */

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 550px;
}

.bg-success {
  color: green;
}

.bg-danger {
  color: red;
}


/* media queries */


@media (min-width: 979px) {
  
  #sidebar.affix-top {
    position: static;
    width: 175px;
  }

  a {
    color: #666;
  }

  a:hover {
    color: #c92c2c;
  } 
  
  #sidebar.affix {
    position: fixed;
    top: 80px;
    width: 175px;
  }
}

.affix, .affix-top {
  position:static;
}

.cattitle {

  font-size: 40px;
  color: #4D363E;

}


.catdes {
  font-size: 20px;
  color: #c92c2c;
  line-height: 24px;
}

body {
  padding-top: 40px;
  color: black;
  background-color:#eee;
}

#headtext {
  padding-top: 20px;
  text-align: left;


}
a,a:hover {
text-decoration:none;
background-color: transparent;

}

.highlight-bk {
	background-color:#ff3333;
  padding:1px;
  width:100%;
}

.highlight {
	color:black;
}
  
h3.highlight  {
	padding-top:13px;
}

#logo > a {
  font-size: 25px;
  color: #c92c2c;
}

#logo > a:hover {
  font-size: 25px;
  color: #4D363E;
  background-color: #FFB600;
}

.dropdown-menu {
  background-color: #FFB600;
  border: none;
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

#menuicons > li > a {
  color: #c92c2c;
  padding-left:20px;
  padding-right:20px;
}

#menuicons > li > a:hover {
  color: #4D363E;
  background-color: #FFB600;
}

#sidebar > .nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar {
  background-color:#FFB600;
  color:#ffffff;
  border:0;
  border-radius:0;
}

.navbar-nav > li > a {
 	color:#fff;
  padding-left:20px;
 	padding-right:20px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #4D363E; 
  background-color: #FFB600;
}

.navbar-nav > li:last-child > a {
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
	background-color:transparent;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
	color: #f0f0f0;
	background-color:transparent;
	opacity:.9;
  border-color:#ff3333;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
	border-width:0;
}

.dropdown-menu {
	width: 150px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
  border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

/* content */
.panel {
  	padding-left:60px;
    padding-right:60px;
    margin-top: 30px;
    min-height: 550px;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* footer */
.footer {
  background-color: white;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.footer > a{
  color: black;
}


@media  (max-device-width : 1210px) {

#logo > a {
  font-size: 20px;
  color: #c92c2c;
}

#logo > a:hover {
  font-size: 20px;
  color: #4D363E;
  background-color: #FFB600;
}

.navbar-nav > li > a {
  padding-left:10px;
  padding-right:10px;
}


}

@media  (max-device-width : 1000px) {

.collapse {
  display: none;
}

.cattitle {
  font-size: 30px;
  max-width: 50%;
}

.catdes {
  font-size: 15px;
  max-width: 50%;
}

.panel {
  padding-left: 30px;
  padding-right: 30px;
}

}

@media  (max-device-width : 480px) {

#logo > a {
  font-size: 17px;
  color: #c92c2c;
}

#logo > a:hover {
  font-size: 17px;
  color: #4D363E;
  background-color: #FFB600;
}

.cattitle {
  font-size: 15px;
  max-width: 50%;
}

.catdes {
  font-size: 10px;
  max-width: 50%;
}

.panel {
  padding-left: 10px;
 padding-right: 10px;
}

}


