
<% content_for :cattitle do %> 
 	BAZA LINKÓW
<% end %>

<% content_for :catdes do %> 
	LISTA KATEGORII
<% end %>

<h1>Dodaj kategorię</h1>

<%= render 'form' %>

<%= link_to 'Powrót', categories_path %>
